body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

#title{background-color:#ff4c68;
  color:aliceblue;
  padding-bottom: 5rem;
}

.container-fluid{padding: 3% 15% 7%;}


h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 4 rem;
line-height: 1.5;
font-weight: bold;}



h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{color: #8f8f8f;}


.navbar{
  padding-bottom:4.5rem;
}

.navbar-brand{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 2.5rem;
font-weight: bold;}

.nav-item{padding:0 18px;}

.navlink{font-size:1.2rem;
font-family: 'Courier New', Courier, monospace;}





.image{
  width:20%;
  transform: rotate(25deg);
  position:absolute;
  right: 20%;
}

#features{
  padding:7% 15%;
  background-color: #fff;
  position:relative;
}

.feature{
  text-align:center;
  padding:4.5%;
}

.icon{color:#ef8172;
margin-bottom: 1rem;}

.icon:hover{
color:#ff4c68;
}

#testimonials{
  color:#ff4c68;
  text-align: center;
  background-color: #ef8172;
  color:#fff;
}

.testimonial-image{
  width:15%;

  margin: 20px;
}

.carousel-item{padding: 7% 15%;}


#schedule,#Ground,#Diary{
  text-align: center;
  padding: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

  /* list  */
h4
{margin-top: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

#cta{background-color: #ff4c68;
color: #fff;
padding: 7% 15%;
text-align: center;}

.cta-heading{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 3.5rem;
line-height: 1.5;}


#footer {
  padding:7% 15%;
  text-align: center;
}



.Contact{color: #fff;}

@media(max-width:1028px)
{

  #title{text-align: center;}


  .image{
  position: static;
  transform: rotate(0);
}

}
  
